@{
    ViewData["Title"] = "Menu Principal";
}

<div>
    <ol class="list-group list-group-flush list-group-numbered">
        <li class="list-group-item">Es parte de los estándares de Public Key Cryptography Standards, concretamente de PKCS#5</li>
        <li class="list-group-item">Generar una semilla o Salt (debe ser diferente para cada usuario)</li>
        <li class="list-group-item">Aplica una función de criptograía tipo Hash al conjunto de contraseña mas la semilla generada</li>
        <li class="list-group-item">Aplica la función de criptografía hash HMACSHA256 </li>
    </ol>
</div>
